@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Solitreo&display=swap");
$main-font: "Solitreo", sans-serif;
$text-font: "Poppins", sans-serif;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(255, 244, 180);
}
.gameName {
  font-family: $main-font;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  &__title {
    font-size: 6rem;
    margin-top: 50px;
  }
  &__tagline {
    font-size: 2rem;
    margin-bottom: 20px;
  }
}
#resetGame {
  font-size: 1.3rem;
  padding: 10px;
  margin-bottom: 30px;
  width: 10rem;
}
main {
  font-family: $text-font;
}
.cardTable {
  border: 2px solid grey;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "user user nil computer computer"
    "stats stats duel waiting waiting";
}

.catCard {
  border: 1px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;

  &__stats {
    border: 2px red solid;
    font-size: 1.3rem;
    grid-area: stats;
  }
}
&__computer {
  border: 2px solid blue;
  font-size: 1.3rem;
  grid-area: waiting;
}
.userCard {
  grid-area: user;
}
.computerCard {
  grid-area: computer;
}
.divide {
  grid-area: nil;
}
.duelButton {
  border: 2px solid yellow;
  grid-area: duel;
  display: flex;
  justify-content: center;
  align-items: center;
}

#duel {
  font-size: 1.3rem;
}
