@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Solitreo&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
}

.gameName {
  font-family: "Solitreo", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.gameName__title {
  font-size: 6rem;
  margin-top: 50px;
}
.gameName__tagline {
  font-size: 2rem;
  margin-bottom: 20px;
}

#resetGame {
  font-size: 1.3rem;
  padding: 10px;
  width: 10rem;
  background-color: rgb(25, 141, 21);
  color: white;
}

.cardTable {
  background-color: rgb(118, 118, 138);
  margin: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "user user user nill computer computer computer" "user user user nill computer computer computer" "stats stats stats duel waiting waiting waiting";
}

.catStats {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 1.2rem;
  grid-area: stats;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 40px;
  padding: 20px;
  background-color: rgb(49, 47, 70);
  border-radius: 5px;
}

.computerWaiting {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 1.3rem;
  grid-area: waiting;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(49, 47, 70);
  margin: 40px;
  border-radius: 5px;
}

.catCardUser {
  grid-area: user;
  display: flex;
  justify-content: center;
  align-items: center;
}
.catCardUser__card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 400px;
  width: 250px;
  background-color: rgb(20, 18, 29);
  font-family: "Solitreo", sans-serif;
  border-radius: 5px;
  color: white;
  font-size: 2rem;
  padding: 20px;
}

.catCardComputer {
  grid-area: computer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.catCardComputer__card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 400px;
  width: 250px;
  background-color: rgb(20, 18, 29);
  font-family: "Solitreo", sans-serif;
  border-radius: 5px;
  color: white;
  font-size: 3.5rem;
  padding: 20px;
}

.catCardDivide {
  grid-area: nill;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.versus {
  font-size: 3rem;
  font-family: "Solitreo", sans-serif;
  color: white;
}

.duelButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: duel;
}

#duel {
  padding: 20px;
  width: 13rem;
  background-color: rgb(163, 44, 44);
  color: white;
  font-family: "Solitreo", sans-serif;
  font-size: 1.7rem;
}

.catDeckAll {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.catCard {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Poppins", sans-serif;
  color: white;
  background-color: rgb(20, 18, 29);
  height: 500px;
  width: 300px;
  padding: 20px;
  border-radius: 5px;
  margin: 20px;
  gap: 20px;
}
.catCard__image {
  width: 90%;
  border-radius: 5px;
}
.catCard__stats {
  width: 90%;
  background-color: rgb(44, 40, 74);
  color: white;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.1rem;
}/*# sourceMappingURL=styles.css.map */