@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Solitreo&display=swap");
$main-font: "Solitreo", sans-serif;
$text-font: "Poppins", sans-serif;
$card-colour: rgb(25, 24, 26);
$second-card-colour: rgb(65, 65, 65);
$options-colour: rgb(92, 47, 104);
$table-colour: rgb(134, 116, 139);
$hover-colour: rgb(68, 8, 54);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(255, 255, 255);
  min-width: 500px;
}
.gameName {
  font-family: $main-font;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  &__title {
    font-size: 5rem;
    margin-top: 50px;
    font-weight: bold;
  }
  &__tagline {
    font-size: 2rem;
  }
}
.resultMessage {
  font-family: $main-font;
  font-weight: bold;
  font-size: 3rem;
  height: 100px;

  &__winner {
    color: green;
  }
  &__draw {
    color: orange;
  }
  &__loser {
    color: red;
  }
}
.scores {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;

  &__user {
    margin-left: 15%;
  }
  &__computer {
    margin-right: 15%;
  }
}

.cardTable {
  background-color: $table-colour;
  margin: 2%;
  display: grid;
  border-radius: 5px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "user user user nill computer computer computer"
    "user user user nill computer computer computer"
    "stats stats stats nill waiting waiting waiting"
    "duel duel duel duel duel duel duel ";
}

.catStats {
  font-family: $text-font;
  color: white;
  font-size: 1rem;
  grid-area: stats;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-left: 40px;
  padding: 20px;
  background-color: $options-colour;
  border-radius: 5px;
}
#stat01,
#stat02,
#stat03 {
  cursor: pointer;
}
.computerWaiting {
  font-family: $text-font;
  color: white;
  font-size: 1.5rem;
  grid-area: waiting;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $options-colour;
  margin-right: 30px;
  padding: 20px;
  border-radius: 5px;
}

.catCardUser {
  grid-area: user;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10%;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 350px;
    width: 200px;
    background-color: $card-colour;
    font-family: $main-font;
    border-radius: 5px;
    color: white;
    font-size: 1.2rem;
    padding: 14px;
    cursor: pointer;
    box-shadow: black 5px 5px 5px;
  }
}
.catCardUser__card:hover {
  box-shadow: $hover-colour 5px 5px 8px;
  transition: 500ms;
  height: 340px;
  width: 190px;
}
.catCardComputer {
  grid-area: computer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10%;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 350px;
    width: 200px;
    background-color: $card-colour;
    font-family: $main-font;
    border-radius: 5px;
    color: white;
    font-size: 2rem;
    padding: 10px;
    box-shadow: black 5px 5px 5px;
  }
}
.catCardComputer__card:hover {
  box-shadow: $hover-colour 5px 5px 8px;
  transition: 500ms;
  height: 340px;
  width: 190px;
  cursor: pointer;
}
.catCardDivide {
  grid-area: nill;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.versus {
  font-size: 3rem;
  font-family: $main-font;
  color: white;
}
.duelButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: duel;
}

#duel {
  padding: 20px;
  width: 15rem;
  background-color: rgb(38, 132, 209);
  color: white;
  font-family: $main-font;
  font-size: 2rem;
  cursor: pointer;
  box-shadow: black 5px 5px 5px;
  border-radius: 5px;
}
#duel:hover {
  background-color: rgb(50, 170, 218);
  box-shadow: $hover-colour 5px 5px 5px;
  transition: 500ms;
  width: 14rem;
  height: 5rem;
}

.catCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-family: $text-font;
  color: white;
  background-color: $card-colour;
  height: 100%;
  width: 100%;
  border-radius: 5px;

  &__image {
    width: 90%;
    border-radius: 5px;
  }
  &__stats {
    width: 90%;
    background-color: $second-card-colour;
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    text-align: start;
  }
}

// ------------------------- Larger screens -----------------------------
@media screen and (min-width: 768px) {
  .gameName {
    gap: 20px;
    &__title {
      font-size: 8rem;
    }
    &__tagline {
      font-size: 2.5rem;
    }
  }
  .scores {
    font-size: 3rem;
  }
  .cardTable {
    margin: 3%;
    display: grid;
    border-radius: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "user user user nill computer computer computer"
      "user user user nill computer computer computer"
      "stats stats stats duel waiting waiting waiting";
  }

  .resultMessage {
    font-size: 4.5rem;
  }

  .catStats {
    font-size: 1.5rem;
    grid-area: stats;
    margin: 30px;
  }

  .computerWaiting {
    font-size: 2rem;
    grid-area: waiting;
    margin: 30px;
  }

  .catCardUser {
    grid-area: user;

    &__card {
      height: 400px;
      width: 250px;
      font-size: 2.5rem;
    }
  }
  .catCardUser__card:hover {
    height: 390px;
    width: 240px;
  }
  .catCardComputer {
    grid-area: computer;

    &__card {
      height: 400px;
      width: 250px;
      font-size: 4rem;
    }
  }
  .catCardComputer__card:hover {
    height: 390px;
    width: 240px;
  }
  .catCardDivide {
    grid-area: nill;
    font-size: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .versus {
    font-size: 4rem;
  }
  .duelButton {
    grid-area: duel;
    width: 15rem;
  }

  #duel {
    width: 15rem;
    font-size: 2rem;
  }
  #duel:hover {
    width: 14.3rem;
    height: 5rem;
  }

  .catCard__stats {
    padding: 10px;
    font-size: 1rem;
  }
}
